pipeline/foreachformultiplefiles.json
{
	"name": "foreachformultiplefiles",
	"properties": {
		"activities": [
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "sourcefilename",
					"value": [
						"sarath1",
						"sarath11",
						"sarath12"
					]
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('sourcefilename')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable In For Each",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "sourcefilename",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"sourcefilename": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}